<footer class="bg-[var(--color-principal)] text-white py-6 mt-16">
  <div class="max-w-7xl mx-auto px-4 text-center">
  <h4 class="font-semibold mb-4 text-lg text-white">Contáctanos</h4>
    <div class="flex justify-center gap-6 mb-4">
  <a href="https://www.facebook.com/share/1CQkDpkpNH/" target="_blank" aria-label="Facebook">
        <img src="/svg/facebook.svg" alt="Facebook" class="w-8 h-8" />
      </a>
  <a href="https://www.instagram.com/academiasavantpe?igsh=anczZWJ0bnB5Mm10" target="_blank" aria-label="Instagram">
        <img src="/svg/instagram.svg" alt="Instagram" class="w-8 h-8" />
      </a>
  <a href="https://wa.me/message/6IDZ655ZCPJCE1" target="_blank" aria-label="WhatsApp">
        <img src="/svg/whatsapp.svg" alt="WhatsApp" class="w-8 h-8" />
      </a>
    </div>
    <div class="flex justify-center items-center text-xs gap-1">
      <img src="/svg/copyright.svg" alt="Copyright" class="w-3 h-3" />
      <span>Academia Savant. Todos los derechos reservados</span>
    </div>
  </div>
</footer>
